/*!
 * Custom Bootstrap Properties for Saperstone Studios
 */

/* Attempts to prevent screenshot */
@media print {
	html, body {
		display: none; /* hide whole page */
	}
}

/* Overall Styles */
.hidden {
	display: none;
}

a, a:hover, a:focus {
	color: #00ab9e;
}

header.carousel {
	height: 70%;
}

/* Nav Styles */
.navbar-inverse {
	background-color: white;
	border-top: 10px #980f7f solid;
	border-bottom: 10px #980f7f solid;
	margin-bottom: 10px;
}

.navbar-inverse:after {
	position: absolute;
	display: block;
	content: '';
	border-bottom: 5px #980f7f solid;
	height: 20px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: black;
}

.nav-logo-link {
	position: absolute;
}

.nav-logo {
	position: relative;
	height: 100px;
	top: -20px;
	background-color: #eaeaea;
	z-index: 99;
}

#nav-logo-link:after {
	content: '';
	float: left;
	background: transparent;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 100px 0 0;
	border-color: #eaeaea transparent transparent transparent;
	top: -21px;
	position: relative;
	-moz-transform: scale(.9999);
}

#nav-logo-link-2 {
	height: 100px;
	width: 230px;
	top: -10px;
}

#nav-logo-link-2:after {
	content: '';
	float: right;
	background: transparent;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 100px 20px 0;
	border-color: transparent #eaeaea transparent transparent;
	top: -11px;
	position: relative;
	-moz-transform: scale(.9999);
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	color: #00ab9e !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus,
	.navbar-inverse .navbar-nav>.open>a:hover {
	color: #00ab9e;
	background-color: #eaeaea;
}

.navbar-inverse .navbar-nav>.open.no-dropdown>a {
	cursor: default;
}

#nav-search-input {
	display: inline-block;
	margin-left: 5px;
}

#nav-search-icon {
	cursor: pointer;
}
/****** LOGIN MODAL ******/
.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.8em;
	font-family: roboto;
}

.loginmodal-container input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container input[type=text], input[type=password], input[type=email]
	{
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover,
	input[type=email]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
}

.loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4d90fe;
	padding: 17px 0px;
	font-family: roboto;
	font-size: 14px;
}

.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
}

.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
}

.login-help {
	font-size: 12px;
}

.loginmodal-container span {
	float: right;
}

.error {
	color: red;
	font-weight: bold;
}

.success {
	color: green;
	font-weight: bold;
}

#nav-spacer {
	position: fixed;
	width: 100%;
	height: 30px;
	background-color: white;
	z-index: 100;
}

/* Footer Styles */
footer {
	margin: 15px 0;
}

/* Our generic carousel pages */
.carousel {
	height: 400px;
}

.carousel .item, .carousel .item.active, .carousel .carousel-inner {
	height: 100%;
}

.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.carousel .contain {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

@media ( max-width :767px) {
	.carousel .carousel {
		height: 70%;
	}
}

/* For our image tiling */
.gallery {
	margin-bottom: 10px;
}

.col-gallery {
	padding: 0px 5px;
}

.col-gallery-left {
	padding-left: 15px;
}

.col-gallery-right {
	padding-right: 15px;
}

.tooltip-wrapper {
	display: inline-block;
}

.tooltip-wrapper.disabled {
	cursor: not-allowed;
}

.tooltip-wrapper .btn {
	pointer-events: none;
}

/* adjusting for low hanging banner */
@media ( max-width : 768px) {
	.page-content {
		padding-top: 45px;
	}
	.navbar-nav {
		padding-top: 55px;
	}
}

/* admin buttons */
.add-images-btn {
    float: right;
}
.ajax-file-upload-container {
	margin: 0px 8px 20px 12px !important;
	display: none;
}
.ajax-upload-dragdrop {
	padding: 10px !important;
}
.ajax-file-upload-statusbar {
	display: inline-block;
}
#resize-progress {
	margin: 0px 15px 15px 15px;
	display: none;
}